*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
@font-face {
    font-family: myfont;
    src:url(./RacingMarkRace-Regular.otf);
}

@font-face {
    font-family: myfont1;
    src:url(./Jersey\ M54.ttf);
}

@font-face {
    font-family: myfont2;
    src:url(./MASQUE__.ttf);
}

@font-face {
    font-family: digi;
    src:url(./DS-DIGIB.TTF);
}

html{
    font-size: 65.5%;
}
:root{
    --header_color:  radial-gradient(circle, rgb(248, 248, 248) 7%, rgb(137, 137, 136) 88%, rgb(179, 178, 177) 103%);
    --hover_color:black;
    --main_color: radial-gradient(circle, rgba(159,159,185,1) 0%, rgba(39,68,98,1) 88%, rgba(1,22,23,1) 100%);
    --accent-color: white;
    --text-color: black;
}


.header{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9.5%;
    background:  radial-gradient(circle, rgb(248, 248, 248) 7%, rgb(137, 137, 136) 88%, rgb(179, 178, 177) 103%);
    box-shadow: 0 0 5px rgb(52, 51, 51, 0.5);
    z-index: 111;
    transition: 0.4s ease;
}

.header.sticky{
    padding: 0 9.5%;
}

.header .logo img{
    padding: 0%;
    background-size: cover;
    background-position: center;
    width: 180px;
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
nav .navbar ul li{
    padding: 2.5rem 0.5rem;
}

nav .navbar .navLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
nav .navbar .navLink li a {
    color: var(--text-color);
    font-family: myfont1;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
}


nav .others {
    display: none;
    align-items: center;
    gap: 1.5rem;
}
nav .others i{
    font-size: 1.9rem;
    color: var(--text-color);
    cursor: pointer;
}


nav .addBtn{
    border-radius: 20px;
    display: flex;
    padding: 0.6rem;
    background: rgb(79, 79, 79);
    gap: 0.3rem;
    font-family: myfont1;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

nav .addBtn:hover{
    color: rgb(154, 9, 9);
    background: rgb(0, 0, 0);
}
#menuBtn{
    font-size: 3.5rem;
}
nav .navbar ul li:hover,
nav .others i:hover{
    color: rgb(137, 12, 12);
}

nav .navbar ul li a:hover,
nav .navbar ul li a.active{
    color: rgb(137, 16, 12);
}

@media(max-width:1370px) {
    nav ,.others{
        gap: 1rem;
    }

    nav .navbar .navLink{
        gap: 0.5rem;
    }
}

@media (max-width:1190px){
    nav .others .addBtn{
        display: none;
    }
}

@media (max-width:991px){
    nav .navbar .navLink{
        display: flex;
        position: absolute;
        top: 5.3rem;
        width: 100%;
        left: 0px;
        background: var(--header_color);
        box-shadow: 0 0 5px rgba(190, 190, 190, 0.5),
        0 0 10px rgba(190, 190, 190, 0.5);
        padding-left: 30px;
        transition: 0.5s ease-in-out;
        display: none;
    }

    nav .others {
        display: flex;
    }
    nav .navbar .navLink.active{
        display: block;
    }

    .header.sticky{
        padding: 0.6rem 9.5%;
    }

    nav .navbar ul li{
        padding: 1rem 0;
    }

    nav .navbar ul li .drop-down{
        position: sticky;
        display: none;
    }

    .drop-down li:hover .drop-down-four,
.drop-down li:hover .drop-down-six,
.drop-down li:hover .drop-down-five,
.drop-down li:hover .drop-down-two,
.drop-down li:hover .drop-down-three{
    position: sticky;
    margin-top: 0rem;
}

    nav .others i.cart{
        display: none;
    }
}
@media(max-width:990px) {
    .header .logo img {
        width: 60px;
    }

    nav .navbar .navLink{
        top: 4.7rem;
    }
}





/*=== arrival section ===*/

.arrivals{
    text-align: center;
    padding: 3rem 20rem;
    background: rgb(122, 121, 121);
}

.arrivals .arr-row{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.arr-row .arr-col{
    padding: 1rem;
    box-shadow: 0 0 5px black;
    background: rgb(181, 179, 179);
    border-radius: 20px;
    text-align: justify;
}

.arr-row .arr-col .image{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    height: auto;
    overflow: hidden;
}

.arr-row .arr-col .image .brand-data img{
    position: relative;
    box-shadow: 0 0 15px grey;
    width: 18%;
    padding: 2px 1px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.5s ease;
}

.arr-row .arr-col h5{
    font-size: 4rem;
    font-family: myfont2;
    padding: 1rem 0;
    color: rgb(0, 0, 0);
}



.arr-col .brand-data{
    display: flex;
    background: rgb(20, 20, 20);
    align-items: center;
    border: 5px solid black;
    border-radius: 30px;
    padding: 2rem 1rem;
}

.arr-col .para{
    font-family: myfont;
    color: rgb(137, 12, 12);
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem 1.5rem;
}

.arr-col .para h1{
    text-decoration: underline;
}


@media (max-width:1350px) {
    .arrivals{
        padding: 3rem 7rem;
    }

    .arr-col .para p{
        font-family: myfont1;
        color: rgb(137, 12, 12);
        font-size: 1.2rem;
        font-weight: 600;
    }

}

@media (max-width:1070px) {
    .arr-row .arr-col .image .brand-data img{
        height: auto;
    }

    .arr-col .para{
        font-size: 1rem;
    }

}

@media (max-width:768px) {

    .arrivals{
        text-align: center;
        padding: 3rem 4rem;
    }

    .arr-row .arr-col .image {
        height: auto;
    }

    .arr-col .para h1{
        font-size: 1.3rem;
    }

    section h1{
        font-size: 2.8rem;
    }
}

@media (max-width:575px) {
    .arr-row .arr-col h5{
        font-size: 2rem;
    }


    
}
@media (max-width:515px) {
    .arr-row .arr-col .image img{
        padding: auto;
        height: 50px;
    }
    .arr-col .para{
        font-size: 0.7rem;
    }
    
}


@media (max-width:450px) {
    section h1{
        font-size: 2.4rem;
    }
    .arrivals{
        text-align: center;
        padding: 3rem 6rem;
    }
}

@media (max-width:410px) {
    .arr-row .arr-col .image img{
        padding: auto;
        height: 40px;
    }

    .arr-row .arr-col h5{
        font-size: 1.5rem;
    }

    .arr-col .para p{
        font-size: 1rem;
    }
    .arrivals{
        padding: 3rem 2rem;
    }
    
}



/*----------- footer section -------*/

.footer{
    background: rgb(116, 115, 115);
    border-top-left-radius: 50px;
    border-top: 2px solid black;
    box-shadow: 0 2px 10px black;
}

.footer .footer-row{
    padding: 2rem 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.footer-row .footer-col img{
    width: 250px;
    height: 50px;
    margin-bottom: 1rem;
}

.footer-row .footer-col p{
    color: rgb(70, 4, 4);
    font-family: myfont1;
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
}

.footer-row .footer-col span{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.footer-row .footer-col span i{
    background: rgb(255, 242, 0);
    border-radius: 10px;
    padding: 0.5rem;
    margin-right: 5px;
    font-size: 18px;
}

.footer-row .footer-col h5{
    color: rgb(0, 0, 0);
    font-family: myfont;
    font-size: 1.9rem;
    margin: 1rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
    border-bottom: 5px solid black;
}

.footer-row .footer-col a{
    display: block;
    font-family: myfont1;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    padding-top: 1rem;
    transition: 0.4s ease;
}

.footer-col .links i{
    color: rgb(12, 35, 137);
    padding-right: 3px;
}

.footer-row .footer-col a:hover{
    color: rgb(246, 6, 6);
    transform: translateX(5%);
}


@media (max-width:1390px) {
    .footer-row .footer-col p{
        font-size: 1rem;
    }
}

@media (max-width:1030px) {
    .footer .footer-row{
        padding: 2rem 5rem;
    }
}

@media (max-width:870px) {
    .footer .footer-row{
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 2rem;
    }
}

@media (max-width:671px) {
    .footer .footer-row{
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}


