*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background-color: black;
}

@font-face {
    font-family: myfont;
    src:url(./RacingMarkRace-Regular.otf);
}

@font-face {
    font-family: myfont1;
    src:url(./Jersey\ M54.ttf);
}

@font-face {
    font-family: myfont2;
    src:url(./MASQUE__.ttf);
}

@font-face {
    font-family: digi;
    src:url(./DS-DIGIB.TTF);
}

html{
    font-size: 65.5%;
}
:root{
    --header_color:  radial-gradient(circle, rgb(248, 248, 248) 7%, rgb(137, 137, 136) 88%, rgb(179, 178, 177) 103%);
    --hover_color:black;
    --main_color: radial-gradient(circle, rgba(159,159,185,1) 0%, rgba(39,68,98,1) 88%, rgba(1,22,23,1) 100%);
    --accent-color: white;
    --text-color: black;
}


.header{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9.5%;
    background:  radial-gradient(circle, rgb(248, 248, 248) 7%, rgb(137, 137, 136) 88%, rgb(179, 178, 177) 103%);
    box-shadow: 0 0 5px rgb(52, 51, 51, 0.5);
    z-index: 111;
    transition: 0.4s ease;
}

.header.sticky{
    padding: 0 9.5%;
}

.header .logo img{
    padding: 0%;
    background-size: cover;
    background-position: center;
    width: 180px;
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
nav .navbar ul li{
    padding: 2.5rem 0.5rem;
}

nav .navbar .navLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
nav .navbar .navLink li a {
    color: var(--text-color);
    font-family: myfont1;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
}


nav .others {
    display: none;
    align-items: center;
    gap: 1.5rem;
}
nav .others i{
    font-size: 1.9rem;
    color: var(--text-color);
    cursor: pointer;
}

nav .addBtn{
    border-radius: 20px;
    display: flex;
    padding: 0.6rem;
    background: rgb(79, 79, 79);
    gap: 0.3rem;
    font-family: myfont1;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

nav .addBtn:hover{
    color: rgb(154, 9, 9);
    background: rgb(0, 0, 0);
}
#menuBtn{
    font-size: 3.5rem;
}
nav .navbar ul li:hover,
nav .others i:hover{
    color: rgb(137, 12, 12);
}

nav .navbar ul li a:hover,
nav .navbar ul li a.active{
    color: rgb(137, 16, 12);
}

@media(max-width:1370px) {
    nav ,.others{
        gap: 1rem;
    }

    nav .navbar .navLink{
        gap: 0.5rem;
    }
}

@media (max-width:1190px){
    nav .others .addBtn{
        display: none;
    }
}

@media (max-width:991px){
    nav .navbar .navLink{
        display: flex;
        position: absolute;
        top: 5.3rem;
        width: 100%;
        left: 0px;
        background: var(--header_color);
        box-shadow: 0 0 5px rgba(190, 190, 190, 0.5),
        0 0 10px rgba(190, 190, 190, 0.5);
        padding-left: 30px;
        transition: 0.5s ease-in-out;
        display: none;
    }

    nav .others {
        display: flex;
    }

    nav .navbar .navLink.active{
        display: block;
    }

    .header.sticky{
        padding: 0.6rem 9.5%;
    }

    nav .navbar ul li{
        padding: 1rem 0;
    }

    nav .navbar ul li .drop-down{
        position: sticky;
        display: none;
    }

    .drop-down li:hover .drop-down-four,
.drop-down li:hover .drop-down-six,
.drop-down li:hover .drop-down-five,
.drop-down li:hover .drop-down-two,
.drop-down li:hover .drop-down-three{
    position: sticky;
    margin-top: 0rem;
}

    nav .others i.cart{
        display: none;
    }
}
@media(max-width:990px) {
    .header .logo img {
        width: 60px;
    }

    nav .navbar .navLink{
        top: 4.7rem;
    }
}


/*--------------contact--------*/

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(68,69,69,1) 0%, rgba(38,38,38,1) 100%);
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 4rem;
    color: rgb(181, 13, 13);
    font-weight: 500;
    font-family: myfont;
}

.contact .content p{
    color: #818181;
    font-family: myfont1;
    font-size: 1.2rem;
    font-weight: 300;
}

.container{
    box-shadow: 0 0 9px rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: rgb(48, 47, 47);
    margin-top: 30px;
    border-radius: 20px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    font-family: myfont1;
    display: flex;
}

.container .contactInfo .box .icon{
    position: relative;
    min-width: 70px;
    height: 70px;
    background: repeating-conic-gradient(from 30deg,rgb(255, 0, 0) 0%,rgb(254, 0, 0) 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contactInfo .box .icon::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg,rgb(255, 0, 0) 0%,rgb(255, 0, 0) 10%, transparent 10%,transparent 50%);
}

.container .contactInfo .box .icon::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(48, 47, 47);
    border-radius: 10px;
}

.container .contactInfo .box .icon b{
    position: absolute;
    inset: 8px;
    background: rgb(132, 130, 130);
    z-index: 2;
    border-radius: 10px;
    transition: 0.5s;
}
.container .contactInfo .box .icon b:hover{
    background: rgb(169, 5, 5);
}

.container .contactInfo .box .icon i{
    position: relative;
    z-index: 1000;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
}

.container .contactInfo .box .text{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.2rem;
    color: rgb(192, 192, 192);
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: rgb(151, 14, 14);
}

.container .contactInfo .txt{
    color: rgb(255, 251, 251);
    font-family: myfont2;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid rgb(208, 5, 5);
    padding-left: 10px;
    line-height: 1rem;
}

.container .contactInfo .sci{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}
.container .contactInfo .sci li{
    list-style: none;
}

.container .contactInfo .sci li a{
    color: rgb(178, 177, 177);
    font-size: 3rem;
    transition: 0.5s;
}

.container .contactInfo .sci li a:hover{
    color: rgb(0, 0, 0);
    filter: drop-shadow(0 0 5px rgb(62, 61, 61));
}

.container .contactForm{
    position: relative;
    font-family: myfont;
    width: 40%;
    background: repeating-conic-gradient(from var(--a),rgb(255, 0, 0) 0%,rgb(255, 0, 0) 10%, transparent 10%,transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px;
}

.container .contactForm::before
{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a),rgb(255, 0, 0) 0%,rgb(255, 0, 0) 10%, transparent 10%,transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.container .contactForm::after{
    content: '';
    position: absolute;
    inset: 8px;
    border: 20px solid rgb(48, 47, 47);
    background: #d8d6d6;
}

@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate {
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}


.container .contactForm form{
    position: relative;
    z-index: 10;
}


.container .contactForm form h2{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
}


.container .contactForm form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}


.container .contactForm form .inputBox input,
.container .contactForm form .inputBox textarea
{
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(137, 7, 7);
    color: #000000;
    outline: none;
    resize: none;
}

.container .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.2rem;
    color: rgb(88, 86, 86);
    transition: 0.5s;
}


.container .contactForm form .inputBox input:focus ~ span,
.container .contactForm form .inputBox textarea:focus ~ span

.container .contactForm form .inputBox input:valid ~ span,
.container .contactForm form .inputBox textarea:valid ~ span
{
    color: rgb(137, 12, 12);
    font-size: 1rem;
    transform: translateY(-20px);
}

.container .contactForm form .inputBox button
{
    width: 100%;
    background: rgb(137, 12, 12);
    color: #000000;
    cursor: pointer;
    padding: 10px;
    font-size: 1.4rem;
    font-family: myfont;
    font-weight: 700;
    transition: 0.5s;
    border-radius: 20px;
}
.container .contactForm form .inputBox button:hover {
    background: #000000;
    color: white;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
        padding: 0 20px;
    }
    .container .contactInfo,
    .container .contactForm
    {
        width: 100%;
    }
    .container .contactForm{
        padding: 40px;
    }
    .container .contactForm form{
        padding: 10px;
    }
}



/*----------- footer section -------*/

.footer{
    background: rgb(116, 115, 115);
    border-top-left-radius: 50px;
    border-top: 2px solid black;
    box-shadow: 0 2px 10px black;
}

.footer .footer-row{
    padding: 2rem 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.footer-row .footer-col img{
    width: 250px;
    height: 50px;
    margin-bottom: 1rem;
}

.footer-row .footer-col p{
    color: rgb(70, 4, 4);
    font-family: myfont1;
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
}

.footer-row .footer-col span{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.footer-row .footer-col span i{
    background: rgb(255, 242, 0);
    border-radius: 10px;
    padding: 0.5rem;
    margin-right: 5px;
    font-size: 18px;
}

.footer-row .footer-col h5{
    color: rgb(0, 0, 0);
    font-family: myfont;
    font-size: 1.9rem;
    margin: 1rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
    border-bottom: 5px solid black;
}

.footer-row .footer-col a{
    display: block;
    font-family: myfont1;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    padding-top: 1rem;
    transition: 0.4s ease;
}

.footer-col .links i{
    color: rgb(12, 35, 137);
    padding-right: 3px;
}

.footer-row .footer-col a:hover{
    color: rgb(246, 6, 6);
    transform: translateX(5%);
}


@media (max-width:1390px) {
    .footer-row .footer-col p{
        font-size: 1rem;
    }
}

@media (max-width:1030px) {
    .footer .footer-row{
        padding: 2rem 5rem;
    }
}

@media (max-width:870px) {
    .footer .footer-row{
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 2rem;
    }
}

@media (max-width:671px) {
    .footer .footer-row{
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}


