*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
}

@font-face {
    font-family: myfont;
    src:url(./RacingMarkRace-Regular.otf);
}

@font-face {
    font-family: myfont1;
    src:url(./Jersey\ M54.ttf);
}

@font-face {
    font-family: myfont2;
    src:url(./MASQUE__.ttf);
}

@font-face {
    font-family: digi;
    src:url(./DS-DIGIB.TTF);
}

html{
    font-size: 65.5%;
}
:root{
    --header_color:  radial-gradient(circle, rgb(248, 248, 248) 7%, rgb(137, 137, 136) 88%, rgb(179, 178, 177) 103%);
    --hover_color:black;
    --main_color: radial-gradient(circle, rgba(159,159,185,1) 0%, rgba(39,68,98,1) 88%, rgba(1,22,23,1) 100%);
    --accent-color: white;
    --text-color: black;
}


.header{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9.5%;
    background:  radial-gradient(circle, rgb(248, 248, 248) 7%, rgb(137, 137, 136) 88%, rgb(179, 178, 177) 103%);
    box-shadow: 0 0 5px rgb(52, 51, 51, 0.5);
    z-index: 111;
    transition: 0.4s ease;
}

.header.sticky{
    padding: 0 9.5%;
}

.header .logo img{
    padding: 0%;
    background-size: cover;
    background-position: center;
    width: 180px;
}

.header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
nav .navbar ul li{
    padding: 2.5rem 0.5rem;
}

nav .navbar .navLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
nav .navbar .navLink li a {
    color: var(--text-color);
    font-family: myfont1;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
}


nav .others {
    display: none;
    align-items: center;
    gap: 1.5rem;
}
nav .others i{
    font-size: 1.9rem;
    color: var(--text-color);
    cursor: pointer;
}


nav .addBtn{
    border-radius: 20px;
    display: flex;
    padding: 0.6rem;
    background: rgb(79, 79, 79);
    gap: 0.3rem;
    font-family: myfont1;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

nav .addBtn:hover{
    color: rgb(154, 9, 9);
    background: rgb(0, 0, 0);
}
#menuBtn{
    font-size: 3.5rem;
}
nav .navbar ul li:hover,
nav .others i:hover{
    color: rgb(137, 12, 12);
}

nav .navbar ul li a:hover,
nav .navbar ul li a.active{
    color: rgb(137, 16, 12);
}

@media(max-width:1370px) {
    nav ,.others{
        gap: 1rem;
    }

    nav .navbar .navLink{
        gap: 0.5rem;
    }
}

@media (max-width:1190px){
    nav .others .addBtn{
        display: none;
    }
}

@media (max-width:991px){
    nav .navbar .navLink{
        display: flex;
        position: absolute;
        top: 5.3rem;
        width: 100%;
        left: 0px;
        background: var(--header_color);
        box-shadow: 0 0 5px rgba(190, 190, 190, 0.5),
        0 0 10px rgba(190, 190, 190, 0.5);
        padding-left: 30px;
        transition: 0.5s ease-in-out;
        display: none;
    }

    nav .others {
        display: flex;
    }

    nav .navbar .navLink.active{
        display: block;
    }

    .header.sticky{
        padding: 0.6rem 9.5%;
    }

    nav .navbar ul li{
        padding: 1rem 0;
    }

    nav .navbar ul li .drop-down{
        position: sticky;
        display: none;
    }

    .drop-down li:hover .drop-down-four,
.drop-down li:hover .drop-down-six,
.drop-down li:hover .drop-down-five,
.drop-down li:hover .drop-down-two,
.drop-down li:hover .drop-down-three{
    position: sticky;
    margin-top: 0rem;
}

    nav .others i.cart{
        display: none;
    }
}
@media(max-width:990px) {
    .header .logo img {
        width: 60px;
    }

    nav .navbar .navLink{
        top: 4.7rem;
    }
}

/*---------- topbar-------- */


.search{
    position: relative;
    padding: 0 0rem;
    background: var(--main_color);
}

.search .find{
    border-radius: 0px;
    width: 1200px;
    width: 100%;
    padding: 2rem;
    top: -4rem;
    z-index: 111;
    background:  radial-gradient(circle, rgb(248, 248, 248) 7%, rgb(137, 137, 136) 88%, rgb(179, 178, 177) 103%);
    box-shadow: 0 0 5px rgba(14, 12, 12, 0.5),
    0 0 10px rgba(2, 2, 2, 0.5);
    overflow: hidden;
}

.find .find-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.find h3{
    font-family: myfont1;
    font-size: 2.7rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

.find .find-row h4{
    font-family: myfont1;
    font-size: 1.7rem;
    color: rgb(26, 3, 3);
    padding-bottom: 1.5rem;
}

.find .find-row select{
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    font-size: 1.5rem;
    font-weight: 500;
    height: 45px;
    padding: 0 1rem;
    color: rgb(152, 23, 6);
}

.find .find-row select option{
    padding: 0.5rem;
    border-bottom: 1px solid rgb(164, 146, 146);
}

.search .search-btn button{
    background: rgb(94, 92, 92);
    margin-top: 4rem;
    padding: 1.3rem 2rem;
    border-radius: 0.5rem;
    font-family: myfont2;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    transition: 0.5s ease;
}

.search .search-btn button i{
    padding-right: 0.5rem;
}

.search .search-btn button:hover{
    background: rgb(137, 12, 12);
    color: white;
}

@media (max-width:2500px) {
    .search .find {
        max-width: 100%;
    }

    .search {
        padding: 0 0;
    }
}

@media (max-width:991px) {
    .find .find-row {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .market{
        padding-top: 40rem;
    }

    section{
        padding: 2.5rem 0rem;
    }
}

@media (max-width:768px) {
    .find .find-row {
        grid-template-columns: 1fr 1fr;
    }
} 

@media (max-width:600px){
    section{
        padding: 2.5rem 0rem;
    }
    .find .find-row {
        gap: 0.5rem;
    }
}

@media (max-width:450px) {
    .find .find-row{
        grid-template-columns: 1fr;
    }

    .find .find-row select{
        width: 100%;
    }
}


/*=== arrival section ===*/

.arrivals{
    text-align: center;
    background: grey;
    padding-top: 7rem;
}

section h4{
    color: rgb(255, 238, 0);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 600;
    font-family: myfont;
    letter-spacing: 2px;
}

section h4 i {
    padding-right: 0.5rem;
}

section h1{
    font-family: myfont;
    padding-bottom: 4rem;
    font-size: 4.7rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--text-color);
}

section h1 span {
    color: red;
}

.arrivals .arr-row{
    padding: 2rem 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.arr-row .arr-col{
    padding: 1rem;
    box-shadow: 0 0 5px black;
    background: rgb(194, 192, 192);
    border-radius: 10px;
    text-align: justify;
}

.arr-row .arr-col .image{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease;
}

.arr-row .arr-col .image img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
}

.arr-row .arr-col .image:hover img{
    transform: scale(1.3);
    cursor: pointer;
}

.arr-row .arr-col h5{
    font-size: 1.8rem;
    font-family: myfont1;
    padding: 1rem 0;
    color: rgb(137, 12, 12);
}

.arr-row .arr-col .rating{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
}

.arr-col .rating .stars i{
    color: black;
    font-size: 1.4rem;
}

.arr-col .rating .review span{
    font-size: 1.3rem;
    font-family: digi;
    font-weight: 600;
    color: rgb(5, 148, 187);
}

.arr-col .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}

.arr-col .features span{
    font-size: 1.4rem;
    font-family: myfont1;
    color: rgb(67, 64, 64);
}

.arr-col .features span i{
    color: rgb(137, 12, 12);
    padding-right: 0.3rem;
}

.arr-col .price1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arr-col .price1 p{
    font-family: digi;
    color: rgb(137, 12, 12);
    font-size: 1.8rem;
    font-weight: 600;
}

.arr-col .price1 button{
    background: rgb(73, 73, 73);
    font-family: myfont;
    padding: 0.8rem 2.8rem;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease;
}

.arr-col .price1 button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(254, 0, 0);
}


@media (max-width:1350px) {
    .arrivals .arr-row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:768px) {
    .arrivals .arr-row {
        padding: 2rem 7rem;
        grid-template-columns: 1fr;
    }

    .arr-row .arr-col .image {
        height: auto;
    }

    section h1{
        font-size: 2.8rem;
    }
}

@media (max-width:450px) {
    section h1{
        font-size: 2.4rem;
    }
}

/*------ pagination----- */

.pagination {
    display: flex;
    list-style: none;
    padding: 2rem 4rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.pagination li {
    margin: 0;
}

.pagination a {
    text-decoration: none;
    font-size: 2rem;
    font-family: digi;
    color: #333;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #070707;
    color: white;
    border-radius: 4px;
}

.pagination .active a {
    background: #7e0808;
    color: white;
    border-radius: 4px;
}

.pagination .disabled a {
    color: #ccc;
    pointer-events: none;
}


/*----------- footer section -------*/

.footer{
    background: rgb(116, 115, 115);
    border-top-left-radius: 50px;
    border-top: 2px solid black;
    box-shadow: 0 2px 10px black;
}

.footer .footer-row{
    padding: 2rem 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.footer-row .footer-col img{
    width: 250px;
    height: 50px;
    margin-bottom: 1rem;
}

.footer-row .footer-col p{
    color: rgb(70, 4, 4);
    font-family: myfont1;
    font-size: 1.5rem;
    padding-bottom: 0.2rem;
}

.footer-row .footer-col span{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.footer-row .footer-col span i{
    background: rgb(255, 242, 0);
    border-radius: 10px;
    padding: 0.5rem;
    margin-right: 5px;
    font-size: 18px;
}

.footer-row .footer-col h5{
    color: rgb(0, 0, 0);
    font-family: myfont;
    font-size: 1.9rem;
    margin: 1rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
    border-bottom: 5px solid black;
}

.footer-row .footer-col a{
    display: block;
    font-family: myfont1;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    padding-top: 1rem;
    transition: 0.4s ease;
}

.footer-col .links i{
    color: rgb(12, 35, 137);
    padding-right: 3px;
}

.footer-row .footer-col a:hover{
    color: rgb(246, 6, 6);
    transform: translateX(5%);
}


@media (max-width:1390px) {
    .footer-row .footer-col p{
        font-size: 1rem;
    }
}

@media (max-width:1030px) {
    .footer .footer-row{
        padding: 2rem 5rem;
    }
}

@media (max-width:870px) {
    .footer .footer-row{
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding: 2rem 2rem;
    }
}

@media (max-width:671px) {
    .footer .footer-row{
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}